html{
	line-height: 1.375;
	font-size: 1em;
	margin: 0;
	padding: 0;
	}
body{
	margin: 0;
	}
p{
	font-family: lora, serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.75;
	
	
	}
.framework{	
	width: 90%;
	max-width: 60em;
	margin: 0 auto;
	}
.framework2{	
	width: 90%;
	max-width: 150em;
	margin: 0 auto;
	}
/* Navigation */

nav{
	
	top: 0;
	background-color: #111;
	margin: 0;
	padding 0;
	
	}

nav a{
	font-family: montserrat;
	font-weight: 100;
	display: block;
    color: white;
    text-align: left;
    padding: 1.3em 2em;
    text-decoration: none;;
	}

nav a:hover{
	
	background-color: #333;
	}

nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #111;
	}
	
nav li{
	margin-bottom: 1.28em;
	margin-top: 0;
	}
nav img{
	clear: before, after;
	float: right;
	margin-bottom: 0;
	margin-top: -12em;
	height: 20em;
	}


footer{
	clear: both;
	background-color: #111;
	color: #fff;
	margin-top: 20em;
	padding-bottom: 10em;
	}
footer img{
 	padding-top: 3em;
	height: 15em;
	width: auto;
}
footer ul {
	padding-bottom: 3em;
	}
footer li{
	text-align: center;
	list-style: none;
	}
figcaption{
	margin-top: 5em;
	margin-left: 4.5em;
	font-size: 3em;
	font-family:  sans-serif;
	
	}
.headshot{
	border-radius: 1000%;
	clear: both;
	height: 20em;
	margin: 0;
	}

.float{
	margin: 0;
	float: left;
	}
figure { 
	margin-top: 10em;
	
	}
.bio {
	margin-left: 16em;
	max-width: 30em
	}
	
h1 {
	font-family: montserrat;
	font-weight: 700;
	margin: 5em 0 0 0;
	padding-top: 3em;
	text-align: center;
	font-size: 5em;
	padding: 0;
	
	}
	
h2 {
	font-family: montserrat;
	font-weight: 100;
	margin: 0em 0 10em 0;
	text-align: center;
	font-size: 4em;
	padding: 0;

	}
	
section p{
	font-family: montserrat;
	font-weight: 100;
	font-size: 1.5em;
	margin-top: 10em;
	text-align: center;
	padding-top: 1em;
	}	
section{
	margin-top: 20em;
	}	
#gallary h2{
	margin: 1em 0 1em 0em;
	text-align: left;
	}

#gallary figure {
	margin: 0 5% 0 5%;
	clear both;
	}
#gallary img{
	width: 17.5em;
	height: 12.5em;
	overflow: hidden;
	
	}
#gallary figure figcaption{
	text-align: left;
	font-family: montserrat;
	font-weight: light;
	font-style: normal;
	font-size: 1em;
	margin: 0 0 1em 0;
	}
	/* fonts */
@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-bold-webfont.woff2') format('woff2'),
         url('../font/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-extralight-webfont.woff2') format('woff2'),
         url('../font/montserrat-extralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}


}
	
@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-black-webfont.woff2') format('woff2'),
         url('../font/montserrat-black-webfont.woff') format('woff');
    font-weight: black;
    font-style: normal;

}




@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-blackitalic-webfont.woff2') format('woff2'),
         url('../font/montserrat-blackitalic-webfont.woff') format('woff');
    font-weight: black;
    font-style: italic;

}




@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('../font/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../font/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: extra-bold;
    font-style: normal;

}




@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-extrabolditalic-webfont.woff2') format('woff2'),
         url('../font/montserrat-extrabolditalic-webfont.woff') format('woff');
    font-weight: extra-bold;
    font-style: italic;

}





@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-extralightitalic-webfont.woff2') format('woff2'),
         url('../font/montserrat-extralightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-italic-webfont.woff2') format('woff2'),
         url('../font/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-light-webfont.woff2') format('woff2'),
         url('../font/montserrat-light-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight_italic';
    src: url('../font/montserrat-lightitalic-webfont.woff2') format('woff2'),
         url('../font/montserrat-lightitalic-webfont.woff') format('woff');
    font-weight: light;
    font-style: italic;

}




@font-face {
    font-family: montserrat;
    src: url('../font/montserrat-medium-webfont.woff2') format('woff2'),
         url('../font/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}	
	
	
	
	@font-face {
    font-family: lora;
    src: url('../font/lora-bold-webfont.woff2') format('woff2'),
         url('../font/lora-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: lora;
    src: url('../font/lora-bolditalic-webfont.woff2') format('woff2'),
         url('../font/lora-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: lora;
    src: url('../font/lora-italic-webfont.woff2') format('woff2'),
         url('../font/lora-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: lora;
    src: url('../font/lora-regular-webfont.woff2') format('woff2'),
         url('../font/lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@media (min-width: 65em) { 

#gallary figure{
	display: inline-block;
	
	}
#gallary figure img{
	margin: 0 auto;
	}
#gallary h2{
	margin: 5em 0 1em 0;
	text-align: center;
	}
nav{
	height: 4em;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
	background-color: #111;
	margin: auto;
	padding 0;
	
	
	}

nav a{
	display: inline;
    color: white;
    text-align: center;
    padding: 1.3em 2em;
    text-decoration: none;;
	}

	
nav a:hover{
	
	background-color: #333;
	}

nav ul{

	text-align: center;
	list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #111;
	}
	
nav li{
	float: left;
	margin: 1.28em;
	}
nav img{
	margin-bottom: 0;
	margin-top: -6em;
	height: 20em;
	margin-left: 0;
	margin-right: 0;
	position: relitive;
	}
}
